.service-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: left;
    position: relative;
    border-bottom: 4px solid #ff9021;
    transition: transform 0.3s ease-in-out;
  }
  
  .service-card:hover {
    transform: translateY(-5px);
  }
  
  .service-icon {
    font-size: 30px;
    color: #ff9021;
  }
  
  .service-icon-style {
    font-size: 36px;
    color: #ff9021;
  }
  
  h2 {
    color: #2b2b2b;
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 30px;
  }
  
  .service-card h5 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
  }
  
  .service-card h6 {
    font-size: 1rem;
    font-weight: normal;
    color: #888;
  }
  
  .service-card p {
    font-size: 0.95rem;
    color: #666;
  }
  .letter-space{
    letter-spacing: 0.1rem;
    line-height: 1.5rem
  }
  
  @media (max-width: 768px) {
    .service-card {
      margin-bottom: 20px;
    }
  
    h2 {
      font-size: 1.8rem;
    }
  }
  